PORT=3000
DATABASE_URL=postgresql://postgres.syrjvgquegmgzovfxxot:AvKDC51b0QQ6035b@aws-0-ca-central-1.pooler.supabase.com:6543/postgres
JWT_SECRET=kuba_secret_2026 
FRONTEND_URL=https://kuba-tech.vercel.app
